{% extends "blog/base.html" %}
{% block content %}
      <div class="row">
        <div class="col-md-8">
          <legend class="text-center fs-3 mb-3"> {{category.name}} Posts</legend>
          <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'posts'%}">discussions</a></li>
              
              <li class="breadcrumb-item active" aria-current="page">{{category}}</li>
            </ol>
          </nav>
          {% for post in page_obj %}
          <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
              </div>
              <legend><a class="article-title fs-3" href="{%url 'post-detail' post.id %}">{{ post.title }}</a></legend>
              <p class="article-content">{{ post.content }}</p>
              <a href="{%url 'post-detail' post.id %}" class="btn btn-warning btn-sm float-end"><i class="fa fa-comments pr-2" aria-hidden="true"></i>comment</a>
            </div>
          </article>
          {% endfor %}
          
          {% if is_paginated %}
          <div class="text-center my-3">
          {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
          {% endif %}
    
          {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
              <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
              <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
          {% endfor %}
    
          {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          {% endif %}
          </div>
        {% endif %}
        </div>
        
        <div class="col-md-4">
          
            <div class="content-section">
              <legend class="text-center fs-4">Topics</legend> 
              <ul class="list-group form-check">
                    
                  {% for topic in topics%} 
                    <li class="list-group-item">
                      
                    <a class="category-link" href="{% url 'topic-posts' category=category topic=topic %}">{{topic.title}}</a></span>
                      
                      
                    </li>

                  {% endfor %}
                

              </ul>
              
            </div>
            {% if user.is_authenticated %}
            <div class="content-section">
              <form  method="POST">
                  {% csrf_token %}
                  <fieldset class="form-group">
                      <legend class="border-bottom mb-4 fs-4">New Topic</legend>
                      
                          
                          <label for="title">Title:</label>
                          <input name="title" id="title" type="text" class="form-control">
                          <label for="description">Description:</label>
                          <textarea name="description" id="description" class="form-control" rows="4" ></textarea>
                          
                          
                        
                  </fieldset>
                  <div class="form-group">
                      <button class="btn btn-outline-info" type="submit">Submit</button>
                  </div>
              </form>
              
            </div>
            
            {%endif%}
            
        </div>
        
      </div>
    
     
{% endblock content %}