{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div style="margin: auto; width: 700px;" class="content-section border border-info">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom border-info mb-4">New Book</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Submit</button>
            </div>
        </form>
        
    </div>
{% endblock content %}